* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: navy;
}

header {
    background-color: orange;
    padding: 20px;
    text-align: center;
    position: relative;
}

footer {
    background-color: orange;
}

.texto, festa {
    display: flex;
    justify-content: center;
}