* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #FFA07A;
    padding: 20px;
    text-align: center;
    position: relative;
}

.texto, img {
    display: flex;
    justify-content: center;
}