* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: navy;
    color: white
}

header {
    background-color: orange;
    padding: 20px;
    text-align: center;
    position: relative;
    color: black
}

footer {
    background-color: orange;
    text-align: center;
    color: black
}

.texto, festa {
    display: flex;
    justify-content: center;
}

